<p>IMPORTANT: BIGOBJECT SOFTWARE IS LICENSED, NOT SOLD. PLEASE READ THE FOLLOWING AGREEMENT CAREFULLY BEFORE CONTINUING. </p>
<p>This Software Licensing Agreement (this "Agreement") is entered into between you ("Customer") and BigObject Inc. ("BigObject"). If you download or use the Software (or authorize any other person to do so) or otherwise indicate your concurrence with this Agreement, you accept the terms and conditions of this Agreement. If you do not agree with the terms and conditions of this agreement, then do not accept this Agreement and do not download or use the Software.</p>
<ol>
<li>
<p>DEFINITIONS.
(a)     "Documentation" means all online help files or written instruction, manuals or any other material made available or provided by BigObject regarding the use of the Software.
(b) "Intellectual Property" means any patents of any type, design rights, unregistered design right, utility models or other invention rights, copyrights, trade secrets, trademarks, trade names, service marks, topography or semiconductor mask work rights, applications for any of the foregoing, and any other similar protected or intangible rights in any countries or areas whether or not perfected, now existing or hereafter created, filed, issued or acquired.
(c)     "BigObject Materials" means any software, programs, tools, scripts, utilities, systems, data, information or other materials made available by BigObject including the Software and Documentation as well as other any information, materials or feedback provided by Customer in connection with Software and Documentation.
(d) "Software" means: (i) BigObject ® Analytics; (ii) any new releases, Updates and Upgrades made generally available in the official website of BigObject or provided to you; and (iii) any complete or partial copies of any of the foregoing. 
(e)     "Updates" means any enhancements, modifications including but not limited to any error corrections or bug fixes for BigObject Materials that may be provided to you by BigObject in its sole discretion.  Updates do not include Upgrades. 
(f)     "Upgrade" means any version of the Software that has been released and which replaces the prior version of the Software.
(g) "Usage of Software" means activation of the processing capability of the Software, including without limitation installing, accessing, downloading, copying, transmitting or duplicating, capturing, or employing the Software, or displaying information resulting from such capacities.</p>
</li>
<li>
<p>GRANT OF LICENSE.
2.1 Rights to Use.  Under the circumstances that you do not violate any of terms in this Agreement, BigObject hereby grants you a limited, personal, non-exclusive, non-transferrable, and non-sublicensable license to install and use the Software on one or more computer(s) (excluding any server, workstation, or virtual machine or platform), solely for your non-commercial internal Usage of Software  </p>
</li>
</ol>
<p>2.2 Non-Commercial Use.  Usage of the Software under this Agreement is restricted to non-commercial purposes only. If you intend to conduct the Usage of Software for any commercial purpose, you must first obtain a separate license from BigObject.  The term "non-commercial" as used in this Agreement, means usage that is solely for your personal or family use, which (a) is not undertaken for profit, or (b) is not intended to produce works, services, or data for commercial use, or (c) is neither conducted, nor funded, by a person or an entity engaged in for-profit activities.  If you are a for-profit organization of any kind, or an employee of a for-profit organization using the BigObject Materials in that capacity, you are engaged in commercial activity and must obtain a separate license from BigObject accordingly.</p>
<ol>
<li>
<p>LIMITATIONS ON REVERSE ENGINEERING, DECOMPILATION, AND DISASSEMBLY.  You may not copy, modify, reverse engineer, decompile, disassemble, break, destruct, translate, transcode, disseminate, publicly transmit the BigObject Materials, or copy, decompile, disassemble, translate, transcode, disseminate, capture, or create or attempt to create the source code, object code, other program, instruction, element or code from the BigObject Materials, and may not develop, obtain its derivative work of the BigObject Materials or destroy, change the identification, protection or shelter of the BigObject Materials, the Intellectual Property and the authorship notices.  You also may not uninstall or capture any program, instruction, element, code or tool of the BigObject Materials for separate use except that such activity is expressly permitted by applicable law and is performed in accordance with the law. Any such unauthorized works and any Intellectual Property embodied or fixed therein shall be the sole and exclusive property of BigObject. Unless otherwise agreed upon, BigObject will not provide you any object codes or source codes of or pertaining to the Software.</p>
</li>
<li>
<p>NO RENTAL/RESALE/COMMERCIAL SERVICE.  You may not rent, lease, lend, sublicense, sell or provide commercial services personally or through a third party to any person with the Software and may not allow a third party or other computer to conduct the Usage of Software by time sharing, service bureau or any other means whatsoever.  If you wish to provide any commercial service to a third party with the Software, you must obtain a separate non-end-user license from BigObject before providing any such service.</p>
</li>
<li>
<p>FUNCTION AND PERFORMANCE OF THE SOFTWARE.  The version of the Software licensed to you hereunder may not be up to par with respect to the function, performance and compatibility with the commercial version of the Software.  The version may not operate correctly and may be substantially modified in the future.  BigObject may provide updates to the Software from time to time, but BigObject shall have no obligation to provide modification, debugging, maintenance, support or Updates to you for the Software version licensed under this Agreement.</p>
</li>
<li>
<p>CONNECTIVITY AND PRIVACY. 
6.1 Advertisements. The Software may contain advertisements, and when using the Software, your computer may connect to a website operated by BigObject, an advertiser, or a third party.  Your Internet Protocol address ("IP Address") is sent when this occurs. The party hosting the site may use technology to send (or "serve") advertising or other electronic content that appears in your computer. The website operator may also use JavaScript, web beacons (also known as action tags or single-pixel gifs), and other technologies to increase and measure the effectiveness of advertisements and to personalize advertising content. BigObject may not have access to or control over features that a third party may use.</p>
</li>
</ol>
<p>6.2 Updates. If your computer is connected to the Internet, the Software may, without further notice, check for Updates that are available for automatic download and installation to your computer and inform BigObject that the Updates have been successfully installed. The Software may automatically download and install Updates from time to time from BigObject. These Updates may take the form of bug fixes, new features, or new versions. You agree to receive such Updates from BigObject as part of your use of the Software. Only non-personally identifiable information is transmitted to BigObject when this occurs, except to the extent that IP Addresses may be considered personally identifiable information in some jurisdictions. </p>
<ol>
<li>THIRD PARTY OFFERINGS. 
7.1 Third Party Offerings. The Software may allow you to access and interoperate with third-party content, software applications, and data services, including Rich Internet Applications ("Third Party Offerings"). Third Party Offerings are not owned or provided by BigObject. You agree that you will not use any such Third Party Offerings in violation of copyright laws of the relevant country. BigObject or the third party may at any time, for any reason, modify or discontinue the availability of any Third Party Offerings. BigObject does not control, endorse, or accept responsibility for Third Party Offerings. Any dealings between you and any third party in connection with any Third Party Offerings, including such party’s privacy policies and use of your personal information, delivery of and payment for goods and services, and any other terms, conditions, warranties, or representations associated with such dealings, are solely between you and such third party. Third Party Offerings might not be available in all languages or to residents of all countries, and BigObject or a third party may, at any time and for any reason, without notice, modify or discontinue the availability of any Third Party Offerings.</li>
</ol>
<p>7.2 EXCEPT AS EXPRESSLY AGREED UPON BY BIGOBJECT OR ITS AFFILIATES OR A THIRD PARTY IN A SEPARATE AGREEMENT, YOUR USE OF THIRD PARTY OFFERINGS IS AT YOUR OWN RISK AND BIGOBJECT SHALL NOT BE RESPONSIBLE FOR ANY RESULTS OF OR CLAIMS OF WHATEVER NATURE ARISING IN CONNECTION WITH THE USE OF THIRD PARTY OFFERINGS. </p>
<ol>
<li>TERM AND TERMINATION.
8.1 Term.  This Agreement is effective until BigObject terminates this Agreement in accordance with Article 8.2.</li>
</ol>
<p>8.2 Termination.   Without prejudice to any other rights, BigObject may terminate this Agreement and the functionality of the Software at any time without notice at its sole discretion. </p>
<p>8.3 Effect of Termination.  Upon termination of this Agreement the following terms will apply:
(a) All rights granted under this Agreement will immediately terminate and you shall forthwith discontinue any use of the BigObject Materials.
(b) You shall destroy the original and all copies of the BigObject Materials. 
(c) Termination will not affect either party's obligations regarding proprietary rights, confidentiality, limitation of liability, disclaimer of warranties, indemnification, governing law, and jurisdiction, which provisions will survive the termination of this Agreement.</p>
<ol>
<li>
<p>PROPRIETARY RIGHTS.  BigObject owns and retains all right, title, and interest in and to the BigObject Martials, including but not limited to all copyrights, patents, trade secret rights, trademarks, know-how and other intellectual property rights at any time. The intellectual property and proprietary rights of whatever nature in the BigObject Material, including derivative works, are and shall remain the exclusive property of BigObject, and nothing in this Agreement shall be construed as transferring any aspects of such rights to you or any third party. BigObject reserves any and all rights not expressly granted in this Agreement. "BigObject" and "BigObject" are trademarks of BigObject, and shall not be used by Customer without BigObject's separate express authorization.</p>
</li>
<li>
<p>SUPPORT.  BigObject WILL NOT provide email support, telephone support or any other kind of support under this Agreement. You must obtain a separate license agreement or service agreement for such services.</p>
</li>
<li>
<p>LIMITATION OF LIABILITY.  IN NO EVENT WILL BIGOBJECT, OR ITS EMPLOYEES OR AGENTS, BE LIABLE TO YOU FOR ANY DAMAGES, CLAIMS, OR COSTS WHATSOEVER, INCLUDING ANY CONSEQUENTIAL, INDIRECT, INCIDENTAL DAMAGES, OR ANY LOST PROFITS OR LOST SAVINGS, EVEN IF AN BIGOBJECT REPRESENTATIVE HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH LOSS, DAMAGES, OR CLAIMS. THE FOREGOING LIMITATIONS AND EXCLUSIONS APPLY TO THE MAXIUMUM EXTENT PERMITTED BY APPLICABLE LAW IN YOUR JURISDICTION. </p>
</li>
<li>
<p>DISCLAIMER OF WARRANTIES.
12.1    EXCEPT AS SET FORTH IN THE FOREGOING, BIGOBJECT MATERIALS IS PROVIDED TO CUSTOMER "AS IS" WITHOUT ANY WARRANTIES OF ANY KIND, INCLUDING, BUT NOT LIMITED TO, WARRANTIES CONCERNING THE INSTALLATION, USE OR PERFORMANCE OF BIGOBJECT MATERIALS.</p>
</li>
</ol>
<p>12.2    BIGOBJECT DISCLAIMS AND EXCLUDES ANY AND ALL WARRANTIES, EITHER EXPRESS OR IMPLIED INCLUDING, BUT NOT LIMITED TO, ANY WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, QUALITY, NON-INFRINGEMENT, TITLE, or RESULTS.</p>
<p>12.3    BIGOBJECT DOES NOT WARRANT THAT BIGOBJECT MATERIALS WILL MEET CUSTOMER'S REQUIREMENTS OR THAT THE OPERATION THEREOF WILL BE UNINTERRUPTED OR ERROR-FREE, OR THAT ERRORS WILL BE CORRECTED. YOU ASSUME THE ENTIRE RISK FOR THE RESULTS OBTAINED BY USING BIGOBJECT MATERIALS. TO THE EXTENT THAT BIGOBJECT MAY NOT DISCLAIM ANY WARRANTY AS A MATTER OF APPLICABLE LAW, THE SCOPE AND DURATION OF SUCH WARRANTY WILL BE THE MINIMUM PRESCRIBED BY SUCH LAW.</p>
<ol>
<li>
<p>RESPONSIBLE USE.  You shall exercise appropriate degrees of professionalism and shall not misuse the BigObject Materials in such a way that would violate any applicable domestic and international laws (including but not limited to laws or regulations relevant to the protection of personal information or privacy) or public policy. This includes, but is not limited to, any behavior that is unlawful, harmful, threatening, abusive, tortious, defamatory, libelous, vulgar, lewd, profane, invasive of another’s privacy, or hateful.  You should be solely responsible for the result of the Usage of Software.</p>
</li>
<li>
<p>INDEMNIFICATION.  You will indemnify BigObject from any claim, demand, loss, or damages, including reasonable attorneys’ fees arising out of or related to your content, your use of BigObject Materials, or your violation of the terms of this Agreement. </p>
</li>
<li>
<p>EXPORT RESTRICTIONS.  You acknowledge that the BigObject Materials is subject to export jurisdiction of the United States and other applicable countries which provides any portion of the BigObject Materials.  You agree to comply with all applicable international and national laws or regulations that apply to the BigObject Materials, including the U.S. Export Administration Regulations, as well as end-user, end-use, and destination restrictions issued by the United States and other governments.</p>
</li>
<li>
<p>PRIVACY AND PERSONAL INFORMATION.  By entering into this Agreement, you agree that BigObject may collect, retain and process personally identifiable data, including your name, nickname, address, e-mail address, other personal information, and information arising out of the interaction of BigObject or the Software with your system.  Your personal information will be used primarily to provide services and product functionality to you either by BigObject, its suppliers, or its contractors or business partners (including, but not limited to, the Software).  BigObject may also use your personal information for additional communication with you subject to applicable laws.  By entering into this Agreement, you agree to the transfer of your personal information to BigObject and its commercial partners’ offices worldwide for the purposes stated above and for other commercial usage. </p>
</li>
<li>
<p>FEEDBACK.  You have no obligation to provide BigObject with ideas, suggestions, or proposals. However, if you submit a feedback to BigObject, then you grant BigObject a non-revocable, non-exclusive, worldwide, royalty-free license that is sub-licensable and transferrable, to use, reproduce, publically display, distribute, modify, and publicly perform such feedback and any intellectual property rights contained therein. </p>
</li>
<li>
<p>SEVERABILITY/WAIVER.
18.1    Severability
If a provision hereof is invalid or unenforceable, the remaining provisions will remain in effect and the parties will amend this Agreement to reflect the original intention to the maximum extent permitted by applicable law.</p>
</li>
</ol>
<p>18.2    Waiver
No waiver of any contractual right will be effective unless provided in writing signed by an authorized representative of the waiving party. No waiver of a right arising from any breach or failure to perform will be deemed a waiver of any future right.</p>
<ol>
<li>
<p>ENTIRE AGREEMENT.  This Agreement constitutes the entire agreement between you and BigObject.</p>
</li>
<li>
<p>MODIFICATION.   BIGOBJECT RESERVES THE RIGHT TO AMEND THE SPECIFIC TERMS OF THIS AGREEMENT AT ITS SOLE DISCRETION BY POSTING AMENDING TERMS AT BIGOBJECT’S WEBSITE, OR ANY OTHER LEGALLY RECOGNIZABLE FORM OF NOTICE. If you do not agree to the terms to be amended, you must immediate cease your use of the Software. You agree that your continued use of the Software after the issuance of notice shall be deemed as your implied agreement to be bound by such amendment.</p>
</li>
<li>
<p>LANGUAGE.  This Agreement is executed in English and all correspondence between the parties will be in English or Mandarin.</p>
</li>
<li>
<p>GOVERNING LAW.  This Agreement will be governed by and construed in accordance with the laws of California, United States of America, without giving effect to any conflict or choice of laws principles that would require the application of the laws of a different jurisdiction.</p>
</li>
<li>
<p>JURISDICTION.  The Taipei District Court shall be the court of the first instance in respect of any dispute between the parties arising from or in connection with this Agreement.</p>
</li>
</ol>
<p>
<hr />
<p>Third party licenses</p>
<p>
The following third-party software components are used in BigObject:</p>
<ul>
<li>Lua
<p>
Copyright © 1994–2015 Lua.org, PUC-Rio.
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
</p>
</li>